apiVersion: v1
kind: Secret
metadata:
  name: aws-cos-secret
type: Opaque
stringData:
  accessKeyID: {{ access_key }}
  accessSecret: {{ secret_key }}
  regionName: {{ region }}
  bucketName: kepler-power-model